* {
	margin: 0px;
	padding: 0px;
}

body, html {
	box-sizing: border-box;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	flex-grow: 1;
	overflow-y: scroll;
}

.sidebar div {
	height: 110vh;
}

.main-content {
	flex-grow: 5;
	overflow: auto;
}

.main-content div {
	height: 300vh;
}

.navBar { display:none; }

/* Desktop*/
@media screen and (max-width: 768px) {
  .sidebar  { display: none; }
  .navBar { display: block; }
  .sidebar { flex-grow: 2; }
}